<% include ../partials/header %>
<% include ../partials/nav %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Places you've ninja'd</h1>
      <div class="table-responsive">
        <table class="table table-striped table-hover">

          <tbody>

          <% history.forEach(function(item, loc){ %>
            <tr <% if(history[loc].like === true){ %>class='success'
            <%} else if (history[loc].meh === true){%> class='warning'
            <%} else if (history[loc].like === false){%> class='danger'
            <%} %>>
              <td>
                <h3><%= history[loc].restaurant %></h3>
                <p><strong>Last visited:</strong> <%= history[loc].updatedAt %></p>
              </td>
              <td>
                <div class="btn-group">
                <form class='like-btn'>
                  <input type="hidden" name='id' value='<%= history[loc].id %>'>
                  <input type="hidden" name='like' value='true'>
                  <button class='btn btn-success <% if(history[loc].like === true){ %>active<%} %>'><span class='glyphicon glyphicon-thumbs-up'></span></button>
                </form>
                <form class='meh-btn'>
                  <input type="hidden" name='like' value='false'>
                  <input type="hidden" name='meh' value='true'>
                  <input type="hidden" name='id' value='<%= history[loc].id %>'>
                  <button class='btn btn-warning dislike-btn <% if(history[loc].meh === true){ %>active<%} %>'>meh.</button>
                </form>
                <form class='unlike-btn'>
                  <input type="hidden" name='id' value='<%= history[loc].id %>'>
                  <input type="hidden" name='like' value='false'>
                  <button class='btn btn-danger dislike-btn <% if(history[loc].like === false){ %>active<%} %>'><span class='glyphicon glyphicon-thumbs-down'></span></button>
                </form>
                </div>
              </td>
            </tr>
          <% }) %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
<% include ../partials/footer %>